:root {
    font-size: 16px;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
p  { font-size: 1rem; }
small { font-size: 0.875rem; }

img {
    width: 2rem;
}

.field {
    width: 25rem;
    height: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

/* grid base layout*/
/* 5 kolona    -   7 redova lol*/
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(46, 183, 204);
}
.sidebar-img {
    grid-column-start: 1;
    grid-column-end: 2;
}
.sidebar-links {
    grid-column-start: 2;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
/*HEADER AREA STYLE IS HERE*/
.header {
    grid-column: 2 / 2;
    grid-row: 1;
    background-color: rgb(226, 251, 252);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-area {
    grid-column: 1;
    grid-row: 1;
}
.nomen {
    grid-column: 1;
    grid-row: 2;
}
.btn-area {
    grid-column: 2;
    grid-row: 1 / 2;
}
.btn {
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    margin: 0 1rem;
    background-color: rgb(46, 183, 204);
    color: whitesmoke;
}



.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    background-color: rgb(242, 248, 253);

    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
}
div > .card {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    height: 300px;
    justify-content: baseline;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;

    border-radius: 0.5rem;
    background-color: rgb(240, 245, 245);

}

h4 {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}
.text {
    grid-column: 1 / 3;
    grid-row:  2 / 4;
}

h4, .text {
    padding: 1rem;
    overflow: hidden;
}
.img-container {
    grid-column-start: -1;
    grid-row-start: -1;
}

.announcements {
    background-color: rgb(242, 248, 253);
    grid-column: 2 / 2;

}
