:root {
    font-size: 16px;
    font-family: 'Retroscape';
    background-color: rgb(213, 231, 227);
}

@font-face {
    font-family: 'Retroscape';
    src: url('Retroscape.woff2') format('woff2'),
        url('Retroscape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
p  { font-size: 1rem; }
small { font-size: 0.875rem; }

html,body {
    height: 100vh;
    margin: 0;
}

img {
    width: 2rem;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 8.5fr;

}

a {
    text-decoration: none;
    color: rgb(182, 1, 1);
    font-size: 1.5rem;
}

h2 {
    margin-left: 1rem;
    margin-top: 2rem;
}

/* HEADER AREA*/
.header {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: space-between;
    background-color: rgb(201, 213, 253);
    padding: 1rem 2rem;

    box-shadow: 10px 10px 100px 10px rgb(100, 120, 150);
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.left-top {
    display: flex;
}
input {
    width: 18rem;
    border-radius: 20ch;
    margin-left: 1rem;
}

.left-bottom-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.big-img {
    width: 4rem;;
}

/* right side */

.right-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-header {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: 2rem;
}

button {
    margin: 0 1rem;
}


/* DASHBOARD AREA */
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    padding: 1rem;
    background-color: rgb(26, 175, 180);
    box-shadow: 1px 1px 500px rgb(26, 175, 180);


}
.home-links, .settings-links {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a {
    display: flex;
    gap: 1.5rem;
}

.dash > a {
    font-size: 2rem;
}


/* MAIN CONTENT -> PROJECTS AREA*/
.card {
    background-color: white;
}

.content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 2.5fr 1fr;

    
}
.projects {
    margin: 1rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;

}
.projects-grid >.card {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: -0.5rem 2rem 2rem 1px rgba(16, 145, 145, 0.5);
}

.img-container {
    align-self: flex-end;
}


/* MAIN SUB -> ASIDE AREA*/
.announcements {
    grid-column: 2;
}

.announcements > .card, .announcements > .announcements-section {
    
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: -0.5rem 2rem 2rem 1px rgba(16, 145, 145, 0.5);
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;

}

.announcements > .announcements-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: white;

}



.announcements > section.card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.trending {
    flex: 1;
    display: flex;
    gap: 15px;
    padding: 1rem;
    
}

/* FONT COLORS ETC*/
p{
    color:rgb(98, 109, 121);
}
a {
    color: white;
    font-weight: 700;
}
button {
    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(26, 175, 180);
    font-size: 1.25rem;
    font-weight: 700;
}